:root{
  --iconStar: #FEBE00;
  --font: 'Raleway', sans-serif;
}

.contenedor-movie{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
}
.contenedor-interno-movie{
  margin: 5px;
}

/* CONTAINER MOVIE */
.interno-movie{
  display: grid;
  justify-content: center;
}
.interno-movie img{
  width: 300px;
  height: 400px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.interno-movie:hover{
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  -moz-transform: scale(1.02, 1.02);
  -ms-transform: scale(1.02, 1.02);
  -o-transform: scale(1.02, 1.02);
}
.img-movie:hover{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.568);
}
.interno-movie h3{
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--font);
  color: white;
}

.year-movie{
  position: relative;
  top: -55px;
  left: 15px;
  width: 45px;
  height: 20px;
  background-color: rgb(20, 152, 182);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/* Button Add Favorite */
.btn-fav-movie{
  position: relative;
  top: -32px;
  right: -130px;
  border: none;
  outline: none;
  background-color: transparent;
}

/* ICON FONT AWESOME */
.icon-star{
  cursor: pointer;
  color: white;
  width: 25px;
  height: 25px;
}
.icon-star:hover{
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
}
.lleno{
  color: var(--iconStar);
  width: 25px;
  height: 25px;
}
.lleno:hover{
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
}


/* CONTAINER NAME */
.interno-data{
  text-align: center;
}
.interno-data h1{
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  font-family: var(--font);
}
.contenedor-interno-movie:hover h1{
  color: rgb(10, 179, 218);
}